.container-fluid {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  color: #fff;
  ext-shadow: 3px 3px 7px #000;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.8);
  padding: 60px;
  border-radius: 10px;
}



.correctLetters {
  list-style: none;
}

.blankSpaces {
  display: inline-block;
  margin-right: 10px;
  min-width: 20px;
  border-bottom: 3px solid #fff;
}
